.librebtn{
    -fx-font: 14px "Arial";
    -fx-text-fill: #058a22;

    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-cursor: hand;
}
.librebtn:hover{

    -fx-font-weight: bold;
    -fx-scale-x: 1.1;

}

.ocupadobtn{
    -fx-background-color: null;
    -fx-font: 14px "Arial";
    -fx-text-fill: red;
    -fx-border-width: 0;
    -fx-font-weight: bold;
    -fx-border-color: null;
    -fx-cursor: hand;
}

.btnNextDay{
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-border-color: rgb(46, 223, 227);
    -fx-border-width: 0;
    -fx-border-radius: 1;
    /*cambiar color letras    */
    -fx-font-weight: bold;
    -fx-font: 14px "Arial";

    -fx-text-fill: rgb(3, 104, 107);
    -fx-effect: dropshadow(gaussian, rgb(49, 115, 171), 10, 0, 0, 0);
    -fx-cursor: hand;
}

.btnNextDay:hover{
    -fx-font-weight: bold;
    -fx-font: 14px "Arial";
    -fx-effect: dropshadow(gaussian, rgb(29, 63, 105), 10, 0, 0, 0);
}
.btnNextDay:disabled{
    -fx-opacity: 0.70;
    -fx-effect: dropshadow(gaussian, rgb(25, 119, 119), 20, 0, 0, 0);
    -fx-cursor: default;
}

.date-picker{
    -fx-background-radius: 13;
    -fx-effect: dropshadow(gaussian, rgb(49, 115, 171), 10, 0, 0, 0);
    -fx-border-width: 0;
}
.date-picker .date-picker-display-node{
    -fx-background-radius: 13 0 0 13;
    -fx-border-width: 0;

}
.date-picker .arrow-button{
    -fx-background-radius: 0 13 13 0;
    -fx-border-width: 0;
    -fx-background-color: rgb(0, 135, 137);
    -fx-padding: 0 13 0 10;
    -fx-cursor: hand;
}

.date-picker .arrow-button .arrow{
    -fx-background-color: white;
    -fx-background-radius: 0 13 13 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

