.card {
    -fx-background-color: linear-gradient(to right, rgba(3, 124, 102, 0.49) 0%, rgb(0, 100, 109) 100%);

    -fx-effect: dropshadow(gaussian, rgb(41, 98, 147), 10, 0, 0, 0);
    /*imnagen en backgraund que se repite    */


    -fx-background-radius : 15;

}
.fondo{
    -fx-background-image: url("../image/fondo4.png") center;
    -fx-background-size: 100 ;
    -fx-background-position: center;
}
.topbar{
    -fx-background-color: linear-gradient(to right, rgb(0, 70, 71) 0%, rgb(0, 107, 109) 100%);

    -fx-background-radius: 0 ;
    -fx-border-color: rgb(0, 70, 71);
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 0;
    -fx-effect: dropshadow(gaussian, rgb(41, 98, 147), 10, 0, 0, 0);


}
.enterBtn{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: rgb(46, 223, 227);
    -fx-border-width: 0;
    -fx-border-radius: 1;
    /*cambiar color letras    */
    -fx-text-fill: rgb(3, 104, 107);
    -fx-effect: dropshadow(gaussian, rgb(41, 98, 147), 10, 0, 0, 0);
    -fx-cursor: hand;

}
/* Cambiar el color del boton cuando se pone el cursor encima*/

.enterBtn:hover{


    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 20, 0, 0, 0);
    -fx-cursor: hand;
}


.enterBtn:pressed {
    -fx-background-color: #d5d5d5;
    -fx-effect: dropshadow(gaussian, rgb(152, 246, 246), 20, 0, 0, 0);

}
.errorLabel{
    -fx-effect: dropshadow(gaussian, rgb(255, 156, 156), 20, 0, 0, 0);

}

.field{

    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: rgb(46, 223, 227);
    -fx-border-width: 0;
    -fx-border-radius: 3;
    /*cambiar color letras    */
    -fx-text-fill: rgb(3, 104, 107);
    -fx-effect: dropshadow(gaussian, rgb(41, 98, 147), 10, 0, 0, 0);
}


/*cambiar color letras

-fx-background-color: linear-gradient(to right, rgb(0, 70, 71) 0%, rgb(0, 107, 109) 100%);





*/


