.btnExit:hover{

    /*Gradiaente de verde a transparente*/
    -fx-background-color: linear-gradient(to right, rgba(108, 218, 108, 0.22), rgba(255, 255, 255, 0));
    -fx-cursor: hand;
}
.btnExit{


    -fx-background-color: null;
}

.enabledStateLabel{
    -fx-background-radius: 5;
    -fx-background-color: null;
    -fx-text-fill: rgb(3, 88, 91);
    -fx-progress-color: red;



}
.fondo {
    -fx-background-image: url("../image/fondo4.png") center;
    -fx-background-size: 100;
    -fx-background-position: center;
}
.button{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.39), 20, 0, 0, 0);
}
.button:hover{
    -fx-background-color: white;

    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 20, 0, 0, 0);

    -fx-cursor: hand;
}

.topcard{
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 70;

    -fx-border-color: white;
    -fx-border-width: 0;

    -fx-background-size: 90;

}

.actualEnabledStateLabel{
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(to top, rgba(26, 180, 124, 0.17), rgba(255, 255, 255, 0));
    -fx-text-fill: rgb(3, 88, 91);
    -fx-border-width: 1 0 0 0;


}

.generalContainer{
    -fx-background-color: rgb(0, 99, 101);

    -fx-border-radius: 10;

    -fx-border-color: white;
    -fx-border-width: 0;

    -fx-background-image: url("../image/fondo14.png") center;

    -fx-background-size: 90;
    -fx-background-radius: 10 ;
}

.bellowContainer{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 10, 0, 0, 0);


}

.stateContainer{
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: rgb(255, 255, 255);

;
}
.field{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: rgb(46, 223, 227);
    -fx-border-width: 0;
    -fx-border-radius: 3;
    /*cambiar color letras    */
    -fx-text-fill: rgb(3, 104, 107);
    -fx-effect: dropshadow(gaussian, rgb(41, 98, 147), 10, 0, 0, 0);
}

.enterBtn{
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: rgb(46, 223, 227);
    -fx-border-width: 0;
    -fx-border-radius: 1;
    /*cambiar color letras    */
    -fx-text-fill: rgb(3, 104, 107);
    -fx-effect: dropshadow(gaussian, rgb(41, 98, 147), 10, 0, 0, 0);
    -fx-cursor: hand;

}
/*
.enterBtn:hover{

    -fx-background-color: #00888b;
    -fx-background-radius: 10;
    -fx-border-color: rgb(46, 223, 227);
    -fx-border-width: 0;
    -fx-border-radius: 1;

    -fx-text-fill: rgb(255, 255, 255);
    -fx-effect: dropshadow(gaussian, rgb(41, 98, 147), 10, 0, 0, 0);
    -fx-cursor: hand;

}
*/
.enterBtn:hover {

    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: rgb(46, 223, 227);
    -fx-border-width: 0;
    -fx-border-radius: 1;
    /*cambiar color letras    */
    -fx-text-fill: rgb(3, 104, 107);
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgb(41, 98, 147), 20, 0, 0, 0);

}

.pfondo{
    -fx-background-image: url("../image/fondo14.png") center;
    -fx-background-size: 100;
}
#btnaddimage{
    -fx-text-fill: rgb(62, 152, 119);
}

#btnaddimage:hover{

    /*cambiar color letras    */

    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.68), 20, 0, 0, 0);
}

#imagebutton:hover{

    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.68), 20, 0, 0, 0);


}






